<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog da Hcode</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div id="hcode-blog">
        <header>
            <div class="container">
                <nav class="navbar">
                    <a href="#" class="text-center logo">
                        <img src="./assets/img/logo.svg" alt="Hcode Treinamentos">
                        Blog
                    </a>

                    <div v-if="isLogged" class="login" key="logged">
                        <h4 class="text-right">Seja bem-vindo {{username}}</h4>
                        <a v-on:click="login" href="#" class="login bg-danger text-white">{{btnLogin}}</a>
                    </div>

                    <a v-else v-on:click="logout" key="notLogged" href="#" class="login bg-primary text-white">{{btnLogin}}</a>
                </nav>
            </div>
        </header>
        <section class="posts">
            <div class="container">
                <div v-for="post in posts" class="row post-item">
                    <div class="col-11">
                        <img v-bind:src="post.img" alt="Post 1">
                        <h2>{{post.title}}</h2>
                        <p>{{post.text | truncate(200)}}</p>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <p class="text-center">Visite: <a href="https://youtube.com/hcodebrasi">Hcode Treinamentos</a></p>
        </footer>
    </div>

    <!-- scripts  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>

</html>